@import url('https://fonts.googleapis.com/css2?family=Red+Rose&family=Roboto:wght@400;700&display=swap');
/*   Fonts */
/* font-family: 'Red Rose', cursive; */
/* font-family: 'Roboto', sans-serif; */
/*End Fonts*/
/* Globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Colors */
  --PrimaryColor: #bde4a7;
  --Dark1: #8bcf63;
  --Dark2: #589c30;
  --Light1: #dcf1d0;
  --Light2: #f3faef;
  --Cta1: #f55536;
  --Cta2: #7a9cc6;
  /* Others */
  --Transition: all 0.3s ease-in;
  --FontSecondary: 'Red Rose', cursive;
  --FontPrimary: 'Roboto', sans-serif;
}
body {
  font-family: var(--FontPrimary);
  background: var(--Light2);
}
a {
  text-decoration: none;
}
.title {
  margin: 1rem 0 2.5rem 0;
  cursor: pointer;
}
.title-text {
  font-size: 4rem;
  text-transform: capitalize;
  color: #575757;
}
.title-underline {
  background: var(--Dark2);
  border: 3px solid var(--Dark2);
  width: 5rem;
  border-radius: 3px;
  transition: var(--Transition);
}
.title:hover .title-underline {
  width: 200px;
  border: 3px solid var(--Cta1);
  background: var(--Cta1);
}
/* End Globals */

/* Header Section */
#header {
  display: flex;
  flex-direction: column;
}
/* Navbar */
nav {
  flex: 0 0 auto; /*NO grow, NO shrink*/
}
nav ul {
  list-style-type: none;
}
nav ul li a {
  display: block; /*queremos que ocupe todo el width*/
  color: var(--Cta2);
  background: transparent;
  padding: 0.75rem;
  font-size: 1.25rem;
  transition: var(--Transition);
  cursor: pointer;
}
nav ul li a:hover {
  color: var(--Cta1);
  padding-left: 3rem;
  background: var(--Cta2);
}
/* Hacemos la Hamburguer */
.nav-top {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 0.5rem;
  align-items: baseline;
}
#menu-btn {
  padding: 5px;
  border: 2px solid var(--Cta2);
  cursor: pointer;
  align-self: center;
}
.bar1,
.bar2,
.bar3 {
  height: 5px;
  width: 35px;
  margin: 5px 0;
  background: var(--Cta2);
  transition: ease-in-out 0.5s;
  border-radius: 2px;
}

/* Para cerrar */
.turn .bar1 {
  transform: translateY(10px);
  background: var(--Cta1);
  opacity: 0;
}
.turn .bar2 {
  background: var(--Cta1);
}
.turn .bar3 {
  transform: translateY(-10px);
  color: var(--Cta1);
  opacity: 0;
}
/* Coding Title */
.nav-top h3 {
  font-size: 1.5rem;
  padding: 0.4rem;
  color: var(--Cta2);
  border: 3px solid;
  transition: var(--Transition);
  cursor: pointer;
}
.nav-top h3:hover {
  background: transparent;
  color: var(--Cta1);
}
@media screen and (min-width: 690px) {
  nav {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 0 1.5rem;
  }
  #menu-btn {
    display: none;
  }
  nav ul {
    flex: 1 1 auto;
    display: flex !important; /*IMPORTAN PARA MOSTRAR LINKS*/
    flex-wrap: wrap;
  }
  nav ul li {
    flex: 1 0 125px;
  }
  nav ul .icon {
    flex: 0 0 20px;
  }
  nav ul li .link-icon {
    color: var(--Dark2);
  }
  nav ul li .link-icon:hover {
    color: var(--Light1);
  }

  nav ul li a {
    text-align: center;
  }
  nav ul li a:hover {
    padding: 0.75rem !important;
  }
}
/* End  Header Section */
/* Banner */
#banner {
  flex: 1 0 auto; /*SI grow, NO shrink*/
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/banner-img.jpeg) center/cover no-repeat fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.banner-box {
  color: var(--Light1);
  text-align: center;
}
.banner-title {
  text-transform: capitalize;
  font-size: 4rem;
}
.banner-underline {
  border: 3px solid var(--Dark2);
  width: 200px;
  margin: 0.75rem auto;
  background: var(--Dark2);
  border-radius: 3px;
}
.banner-subtitle {
  margin: 1.5rem 0 2rem 0;
  text-transform: capitalize;
  font-size: 1.25rem;
}
.banner-box a {
  display: inline-block;
  padding: 0.75rem;
  font-size: 2.25rem;
  color: var(--Cta1);
  border: 3px solid var(--Cta1);
  transition: var(--Transition);
  background: transparent;
}
.banner-box a:hover {
  background: var(--Light1);
  color: var(--Dark2);
  border: 3px solid var(--Dark2);
}
/* End Banner Section */

/* Skills Section */

.skills {
  background: var(--Light2);
}
.section-container {
  max-width: 90vw;
  margin: 0 auto;
  padding: 1rem;
}
.skill {
  text-align: center;
  margin: 1.5rem;
}
.skill .fa {
  color: var(--Cta2);
  padding: 1.75rem;
  border-radius: 50%;
  font-size: 3.5rem;
  transition: var(--Transition);
}
.skill .fa:hover {
  transform: scale(0.7);
  background: var(--Cta2);
  color: var(--Light1);
}
.skill h3 {
  margin: 0.75rem 0 1rem 0;
  text-transform: capitalize;
  font-size: 1.75rem;
  color: var(--Cta2);
}
.skill p {
  line-height: 1.5rem;
  width: 75%;
  margin: 0 auto;
}
@media screen and (min-width: 576px) {
  .skills-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .skills-center {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
/* End Skills Section */
/* About Section */
#about {
  padding: 2rem;
  background: var(--Light1);
}
.about-text,
.about-video {
  padding: 2rem;
}
.about-text h2 {
  color: var(--Dark1);
  font-size: 2.5rem;
}
.about-text p {
  margin: 1.5rem 0;
}
.about-text a {
  display: inline-block;
  font-size: 2rem;
  padding: 0.75rem;
  text-transform: uppercase;
  color: var(--Light2);
  border: 2px solid var(--Cta1);
  background: var(--Cta1);
  transition: var(--Transition);
}
.about-text a:hover {
  background: var(--Cta2);
  border: 2px solid var(--Light1);
}
@media screen and (min-width: 768px) {
  .about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    min-height: 50vh;
  }
}
/* End About Section */

/* Services Section */
.services {
  padding: 2.5rem;
}
.service {
  margin: 2rem 0;
  display: flex;
}
.service-icon .fa {
  font-size: 4rem;
  color: var(--Dark2);
  margin-right: 1.5rem;
}
.service-info {
  margin-top: 0.75rem;
  line-height: 1.5;
}
.service-subtitle {
  text-transform: capitalize;
  color: var(--Cta1);
  font-size: 1.5rem;
}
.service:hover .fa,
.service:hover .service-subtitle {
  color: var(--Cta2);
}
.service:hover .service-info {
  color: var(--Dark2);
}
@media screen and (min-width: 576px) {
  .services-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .service {
    flex: 0 0 calc(50% - 1rem);
  }
}
@media screen and (min-width: 992px) {
  .services-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .service {
    flex: 0 0 calc(33% - 1rem);
  }
}
/* End Services Section */

/* Portfolio Section */
.portfolio {
  padding: 2.5rem;
  background: var(--Light1);
}
.work {
  position: relative; /*Para la card y que el info sea absolute */
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  max-height: 300px;
  border-radius: 10px;
  margin: 1rem 0;
  overflow: hidden; /*Para cuando text aparezca por debajo*/
}
.portfolio-img {
  display: block;
  width: 100%;
  min-height: 300px;
  cursor: pointer;
  opacity: 1;
  transition: var(--Transition);
}
.portfolio img:hover {
  opacity: 0.4;
}
.img-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
  background: var(--PrimaryColor);
  transition: var(--Transition);
  margin-bottom: -200px;
}
.work:hover .img-overlay {
  margin-bottom: 0;
}
.img-text h3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}
.img-overlay .fa {
  font-size: 2rem;
  color: var(--Cta1);
  padding: 0.75rem;
  background: var(--Light2);
  border-radius: 50%;
  transition: var(--Transition);
}
.img-overlay .fa:hover {
  transform: translateY(-10px);
  background: var(--Cta1);
  color: var(--Cta2);
}
.section-btn {
  text-align: center;
  margin: 1.75rem 0 0.75rem 0;
}
.section-btn a {
  display: inline-block;
  padding: 0.5rem;
  font-size: 2rem;
  color: var(--Light2);
  background: var(--Cta2);
  transition: var(--Transition);
  font-family: var(--FontPrimary);
}
.section-btn a:hover {
  background: var(--Cta1);
}
.section-btn .fa {
  font-size: 2.5rem;
  margin-right: 1rem;
}
@media screen and (min-width: 576px) {
  .portfolio-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .work {
    flex: 0 0 calc(50% - 1rem);
  }
}
@media screen and (min-width: 992px) {
  .work {
    flex: 0 0 calc(33% - 1rem);
  }
}
/* End Portfolio Section */

/* Numbers */
.numbers {
  padding: 2.5rem;
}
.number {
  margin: 1.25rem 0;
  text-align: center;
  transition: var(--Transition);
}
.number:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.number .fa {
  font-size: 4rem;
  color: var(--Dark2);
}
.number h2 {
  font-size: 3rem;
  margin: 1rem 0;
  font-weight: 900;
}
.number h5 {
  font-size: 1rem;
  color: var(--Dark1);
}
@media screen and (min-width: 576px) {
  .numbers-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .number {
    flex: 0 0 calc(50% -1rem);
  }
}
/* End Numbers */

/* Team Section */
.team {
  padding: 2rem;
  background: var(--Light1);
}
.team-member {
  background: var(--Dark2);
  margin: 1.5rem 0;
}
.team-member img {
  display: block;
  width: 100%;
  max-height: 300px;
}
.img-footer {
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
}
.footer-info h3 {
  color: var(--Light2);
}
.footer-info h5 {
  color: var(--PrimaryColor);
  text-transform: uppercase;
}
.footer-icons a {
  color: var(--Cta2);
  font-size: 1.5rem;
  margin: 0 0.5rem;
}
.footer-icon {
  font-size: 3rem;
  color: var(--Cta1);
  opacity: 0;
  align-self: center;
  transition: var(--Transition);
}
.footer-icon:hover {
  transform: rotate(-90deg);
}
.team-member:hover .footer-icon {
  opacity: 1;
}
@media screen and (min-width: 576px) {
  .team-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .team-member {
    flex: 0 0 calc(50% - 1rem);
  }
}
@media screen and (min-width: 992px) {
  .team-member {
    flex: 0 0 calc(25% - 1rem);
  }
}
/* End Team Section */
